=render "layouts/navbar"
.jumbotron
  .container.width-panel.posicion
    .row.height-panel.middle-xs
      .col-xs-2.fijo
        .panel.panel-default.height-panel
          .panel-body
            %ul.nav.nav-pills.nav-stacked{:style => "max-width: 300px;"}
              %li.active
                =link_to "inicio", root_path
              %li.dropdown
                %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
                  Inscripción
                  %span.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Nuevo", new_act_path
                  %li.divider
                  %li
                    =link_to "Ver", acts_path
              %li.divider
              %li.dropdown
                %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
                  Búsqueda
                  %span.caret
                %ul.dropdown-menu
                  %li
                    =link_to "Inscripción", new_search_path
                  %li.divider
                  %li
                    =link_to "Compareciente", new_appearer_search_path
              %li.divider
              -if current_user
                %li
                  =link_to "Perfil", edit_user_registration_path
                %li
                  =link_to "Cerrar Sesión", destroy_user_session_path, method: :delete
      .col-xs-10.middle-xs.derecha
        .container.width-panel
          .panel.panel-primary
            .panel-heading            
              %h3.panel-title Editar Propiedad
            .panel-body
              = render 'form'
              = link_to 'Regresar', @act