.jumbotron
	.container.width-panel
		.row.height-panel.middle-xs.center-xs
			.col-xs-6
				.box
					.panel.panel-default
						.panel-body
							=image_tag "logo.png", class: "img-rounded", width: "200"
							%h2 Registro de la Propiedad y Mercantil del cantón La Troncal
							%p Sistema de Ingreso de Inscripciones Integrado.
							=link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary btn-lg btn-block"