body {
  width: 100%;
  height: 100%;
}

.posicion {
  position: relative;
}

.derecha {
  position:absolute !important;
  right:20px;
  top:50px;
  z-index:11 !important;
}

.fijo {
  position:fixed !important;
  left:5px;
  top:70px;
  z-index:10 !important;
}

.navbar-margin {
	margin-bottom: 0px;
}

.jumbotron .container {
	height: 200vh;
}

.width-panel {
  width: 100% !important;
}

.height-panel {
  height: 100vh !important;
}

.center {
  text-align: center;
}

.vertical-align {
  vertical-align: middle;
}