body {
  width: 100%;
  height: 100%;
}

.navbar-margin {
	margin-bottom: 0px;
}

.jumbotron .container {
	height: 100vh;
}

.width-panel {
  width: 100% !important;
}

.height-panel {
  height: 100vh !important;
}

.center {
  text-align: center;
}

.vertical-align {
  vertical-align: middle;
}