.navbar.navbar-inverse.navbar-margin
  .container-fluid.vertical-align
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-inverse-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "javascript:void(0)"} Sistema Ingreso de Inscripciones Integrado
    .navbar-collapse.collapse.navbar-inverse-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "javascript:void(0)"} Registro de la Propiedad y Mercantil del Cantón la Troncal

